@import './variables';
@import './components/vscode';

.main-panel {
    display: block;
    box-sizing: border-box;
    height: inherit;

    &__html {
        box-sizing: border-box;
        height: 100%;
    }

    &__body,
    &__root {
        padding: 0;
        box-sizing: border-box;
        height: inherit;
    }

    &__header {
        display: flex;
        padding: $gap;
        align-items: center;

        &_input {
            margin-right: $gap;

            &_group {
                display: flex;
                width: 100%;
            }

            &:nth-child(1) {
                flex: 2;
            }

            &:nth-child(2),
            &:nth-child(3) {
                flex: 0.5;
            }
        }

        &_button {
            &:nth-child(2) {
                margin-left: auto;
                margin-right: $gap;
            }

            &-toggle {
                border-radius: 0 0 0 0;

                &:nth-child(1) {
                    margin-left: $gap;
                    width: 135px;
                }

                &:nth-child(2) {
                    width: 161px;
                }
            }
        }

        &_container {
            box-sizing: border-box;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 14px;

            & > label {
                display: block;
                color: var(--vscode-foreground);
                cursor: pointer;
                font-size: var(--vscode-font-size);
                line-height: normal;
                margin-bottom: 2px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__wrapper {
        display: flex;
        height: calc(100% - 69px);
        box-sizing: border-box;

        &-connectionString {
            height: calc(100% - 51px) !important;
        }

        &-colunm {
            flex: 0.9;
            border-top: 1px solid $border-color;
            overflow-y: auto;

            &-half {
                flex: 1 !important;
            }

            &:nth-child(2),
            &:nth-child(3) {
                flex: 2;
                border-left: 1px solid $border-color;
            }

            &:nth-child(3) {
                flex: 2;
                display: flex;
            }
        }

        &_json {
            width: 100%;
            position: relative;

            &-header {
                align-items: center;
                height: 50px;
                position: absolute;
                right: $gap;
                top: $gap;

                &_button {
                    border-radius: 0 0 0 0;

                    &:nth-child(1) {
                        margin-left: auto;
                    }
                }
            }

            &-body_area {
                background-color: var(--vscode-editor-background);
                font-family: var(--vscode-font-family);
                color: var(--vscode-foreground);
                resize: none;
                border: none;
                width: calc(100% - 6px);
                height: calc(100% - 9px);

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
