.vscode {
    &_input {
        background-color: var(--vscode-editorHoverWidget-statusBarBackground);
        color: var(--foreground);
        height: 15px;
        padding: 4px;
        border: 1px solid var(--vscode-editorHoverWidget-statusBarBackground);

        &-error {
            border: 1px solid red;
        }

        &:focus {
            outline: none;
        }
    }
}
